@model CNPM5.Models.Contract

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa hợp đồng</h1>

<h3>Bạn có chắc chắn xóa hợp đồng này không?</h3>
<div>
<div class="row">
    <div class="col-md-4 card-body">
        <form asp-action="Delete" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Sinh viên</label>
                <input type="text" class="form-control" value="@Model.Student.FullName (@Model.Student.StudentCode)" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Phòng</label>
                <input type="text" class="form-control" value="@Model.Room.RoomName (@Model.Room.FloorId)" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Dịch vụ</label>
                <input type="text" class="form-control" value="@Model.Service.Name" readonly />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deposit" class="control-label">Tiền cọc</label>
                <input asp-for="Deposit" class="form-control" />
                <span asp-validation-for="Deposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyFee" class="control-label">Tiền phòng theo tháng</label>
                <input asp-for="MonthlyFee" class="form-control" />
                <span asp-validation-for="MonthlyFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle" class="control-label">Chu kỳ</label>
                <input asp-for="Cycle" class="form-control" />
                <span asp-validation-for="Cycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harvestday" class="control-label">Ngày thu</label>
                <input asp-for="Harvestday" class="form-control" />
                <span asp-validation-for="Harvestday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Người tạo</label>
                <input type="text" class="form-control" value="@Model.Account.FullName" readonly />
            </div>
            
        </form>
    </div>
</div>
    <form asp-action="Delete">

        <input type="hidden" asp-for="ContractId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>