@model IEnumerable<CNPM5.Models.TblStudents>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý sinh viên</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">
            <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm sinh viên
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã SSV</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Khoa</th>
            <th>Chuyên ngành</th>
            <th>CCCD</th>
            <th>Địa chỉ thường trú</th>
            <th>Địa chỉ tạm trú</th>
            <th>Ảnh đại diện</th>
            <th>Trạng thái</th>
            <th>Tên người liên hệ</th>
            <th>SĐT người liên hệ</th>
            <th>Ngày đăng ký</th>
            <th>Cập nhật</th>
            <th>Mã ID</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model) {
        <tr>
            <td>@(i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitizenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporaryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarUrl)
            </td>
            <td>
                <span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.StudentStatus)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountId)
            </td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.StudentId"><i class="bx bx-edit-alt me-1"></i> Sửa</a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.StudentId"><i class="bx bx-edit-alt me-1"></i> Chi tiết</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.StudentId"><i class="bx bx-trash me-1"></i> Xoá</a>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
